.help-section{
	width: 100%;
	height: 300px;
	background:url(Asesoramiento.jpg) no-repeat center center/cover;
	position: relative;
	z-index: 1;
	font-size: 30px;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: flex-start;
  text-align: center;
  margin-bottom: 50px;
  transition: 5s;
  z-index: 1;
}
.help-section:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(to top, transparent 0%, black 100%);
	z-index: 1;
}
h2, .fa-envelope, .fa-whatsapp, .fa-phone {
  color: $info;
  transition: 0.4s;
}
.icon:hover{
  font-size: 2.5em;;
}


// .fa-whatsapp{
//   color:#25D366;
// }
.help-section .help-section-content{
	align-items: center;
	z-index: 2;
}

.help-section .help-section-content h2, 
.help-section .help-section-content p {
	padding-bottom: 7px;
	
}