// Specific CSS for your home-page
@import "explain_section";
@import "guidance";
@import "home_categories";
@import "whatsapp_link";


.margin-y-axis-home{
  margin-top: 0vh;
  margin-bottom: 20vh;
}
.padding-x-axis-home{
	padding-right: 0px !important;
  padding-left: 0px !important;
}

