<h1>Pages#home</h1>
<p>Session cart: [SACAR]</p>
<%= debug session[:cart] %>

<% @categories.each do |cat| %>
  <ul>
    <li><%= link_to cat.name, category_path(cat.id)  %> | (<%= pluralize cat.products.count, 'product'%>)</li>
  </ul>
<% end %>