<h3 class="text-center"> ¿Que desea iluminar?</h3>
<%# <p>Session cart: [SACAR]</p> %>
<%#= debug session[:cart] %>
<%#= pluralize cat.products.count, 'product'%>


<div class="container">
  <!-- Categories section -->
  <section id="cards" class="home-cards">
    <% @categories.each do |cat| %>

      
      <div class="home-container">
        <a href=<%= category_path(cat.id) %> class="img-container">
          <%= image_tag ("#{cat.name.downcase}.svg")%>
        </a>
      <%= link_to cat.name, category_path(cat.id) %>
      </div>      
    <% end %>
    <div id="need-help"></div>
  </section>
</div>

<div>
  <section id="help"class="help-section">
    <div class="help-section-content mt-5">
      <h2>¿Necesita asesoramiento?</h2>
      <p>Contáctese con nosotros:</p>
      <a href="https://api.whatsapp.com/send?phone=541158622681" target="blank" class="btn">
          <i class="fab fa-2x fa-whatsapp icon"></i>
      </a>
      <a href="#" class="btn">
          <i class="far fa-2x fa-envelope mt-1 icon"></i>
      </a>
       <a href="#" class="btn">
          <i class="fas fa-2x fa-phone icon"></i></i>
      </a>
    </div>
  </section>

</div>
<div class="container">
  <!-- Explain section -->
  <section class="explain-section">
    <div class="explain-container">
        <a href="#">como comprar</a>
    </div>
    <div class="explain-container">
        <a href="#">medios de pago</a>
    </div>
    <div class="explain-container">
        <a href="#">envios</a>
    </div>
    <%# <div class="explain-container"> %>
        <%# <a href="#">contactate con nosotros</a> %>
    <%# </div> %>
  </section>

  <div class="whatsapp-contact">
    <%=link_to image_tag("whatsapp-icon.png"),"https://api.whatsapp.com/send?phone=541158622681" , target: "_blank", class:"whatsapp-icon whatsapp-link"%>
    <%# <p class="mt-4">Consultas</p> %>
  </div>
</div>

<%#= image_tag ("banio.svg")%>
<%# <a href="#"><i class="fab fa-twitter"></i></a> %>