.card-category > img{
  height: 100%;
  min-height: 400px;
}
.card-category{
  height: 100%;
  min-height: 400px;

}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}




// Small devices (landscape phones, 576px and up)
@media (max-width: 767px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  
}



@media (max-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }

}